<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoyaltyPtsSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>user-login</display-name>
    <servlet-name>user-login</servlet-name>
    <servlet-class>sfg.assignment.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-login</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>sfg.assignment.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncrementDecrementController</display-name>
    <servlet-name>IncrementDecrementController</servlet-name>
    <servlet-class>sfg.assignment.controller.IncrementDecrementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncrementDecrementController</servlet-name>
    <url-pattern>/IncrementDecrementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartController</display-name>
    <servlet-name>RemoveFromCartController</servlet-name>
    <servlet-class>sfg.assignment.controller.RemoveFromCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartController</servlet-name>
    <url-pattern>/RemoveFromCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>sfg.assignment.controller.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>sfg.assignment.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>sfg.assignment.controller.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountController</display-name>
    <servlet-name>AddAccountController</servlet-name>
    <servlet-class>sfg.assignment.controller.AddAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountController</servlet-name>
    <url-pattern>/AddAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferController</display-name>
    <servlet-name>TransferController</servlet-name>
    <servlet-class>sfg.assignment.controller.TransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferController</servlet-name>
    <url-pattern>/TransferController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>sfg.assignment.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferPointsToFriendController</display-name>
    <servlet-name>TransferPointsToFriendController</servlet-name>
    <servlet-class>sfg.assignment.controller.TransferPointsToFriendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferPointsToFriendController</servlet-name>
    <url-pattern>/TransferPointsToFriendController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferPointsToBankController</display-name>
    <servlet-name>TransferPointsToBankController</servlet-name>
    <servlet-class>sfg.assignment.controller.TransferPointsToBankController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferPointsToBankController</servlet-name>
    <url-pattern>/TransferPointsToBankController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestPasswordController</display-name>
    <servlet-name>RequestPasswordController</servlet-name>
    <servlet-class>sfg.assignment.controller.RequestPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestPasswordController</servlet-name>
    <url-pattern>/RequestPasswordController</url-pattern>
  </servlet-mapping>
</web-app>